/* MOBILE-FIRST DEV */

/* HERE COMES THE GLOBAL SETTINGS */
/* HERE COMES THE GLOBAL SETTINGS */

* {
    box-sizing: border-box;
}

body {
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

main {
    max-width: 375px;
    width: 100%;
    margin: auto;
}

.containerOuterEdge {
    width: 80%;
    height: 75%;
    margin: auto;
    margin-top: 40px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 16px;
}

.containerInnerEdge {
    padding: 24px;
    border-radius: 8px;
}

/* HERE COMES THE INDIVIDUAL SETTINGS */
/* HERE COMES THE INDIVIDUAL SETTINGS */

/* THE IMAGE */
.containerImage {
    position: relative;
}

.containerImageHover {
    position: absolute;
    width: 252px;
    height: 252px;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid white; */
    background-color: hsl(178, 100%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    border-radius: 8px;
}

.containerImageHover:hover {
    opacity: 0.5;
}

.containerImage img:nth-child(2) {
    width: 100%;
    border-radius: 8px;
}

/* THE TITLE */
h1 {
    color: hsl(0, 0%, 100%);
    font-size: 1.25rem;
}

h1 a {
    text-decoration: none;
    color: white;
}

h1 a:hover {
    color: hsl(178, 100%, 50%);
}

/* THE DESCRIPTION */
.containerInnerEdge p:nth-child(3) {
    color: hsl(215, 51%, 70%);
    font-size: 0.9rem;
    line-height: 1.5rem;
}

/* PRICE VALIDITY INFO SECTION */
.priceValidityInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.priceValidityInfo>* {
    margin: 0;
}

.priceValidityInfo p:nth-child(1) {
    color: hsl(178, 100%, 50%);
    font-size: .9rem;
    font-weight: bold;
}

.priceValidityInfo p:nth-child(1)::before {
    content: url(./images/icon-ethereum.svg);
    vertical-align: middle;
    padding-right: 4px;
}

.priceValidityInfo p:nth-child(2) {
    color: hsl(215, 51%, 70%);
    font-size: .9rem;
}

.priceValidityInfo p:nth-child(2)::before {
    content: url(./images/icon-clock.svg);
    padding-right: 4px;
    vertical-align: middle;
}

hr {
    border-color: hsl(215, 32%, 27%);
}


/* CREATOR INFO AT THE BOTTOM */
.creatorInfo {
    display: flex;
    align-items: center;
}

.creatorInfo img {
    width: 12%;
    height: 12%;
    border: 2px solid white;
    border-radius: 50%;
    margin-right: 16px;
}

.creatorInfo p {
    font-size: 0.85rem;
    color: hsl(215, 51%, 70%);
}

.creatorInfo a {
    text-decoration: none;
    color: white;
}

.creatorInfo a:hover {
    color: hsl(178, 100%, 50%);
}